@font-face{
    font-family: 'Sofia' ;
    src: url('./assets/fonts/static/SofiaSansExtraCondensed-Black.ttf');
    font-weight: 900;
}

    @font-face {
        font-family: 'Sofia';
        src: url('./assets/fonts/static/SofiaSansExtraCondensed-Medium.ttf');
        font-weight: 500;
    }
    @font-face {
        font-family: 'Sofia';
        src: url('./assets/fonts/static/SofiaSansExtraCondensed-Light.ttf');
        font-weight: 300;
    }